<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Connection string example for SQL Server -->
  <connectionStrings>
    <!-- Local SQL Server -->
    <add name="DefaultConnection" 
         connectionString="Server=.; Database=MedTechDB; Trusted_Connection=true;" 
         providerName="System.Data.SqlClient" />
    
    <!-- SQL Server with username and password -->
    <!-- <add name="DefaultConnection" 
         connectionString="Server=YOUR_SERVER; Database=MedTechDB; User Id=YOUR_USER; Password=YOUR_PASSWORD;" 
         providerName="System.Data.SqlClient" /> -->
    
    <!-- Azure SQL Database -->
    <!-- <add name="DefaultConnection" 
         connectionString="Server=tcp:YOUR_SERVER.database.windows.net,1433; Initial Catalog=MedTechDB; Persist Security Info=False; User ID=YOUR_USER; Password=YOUR_PASSWORD; MultipleActiveResultSets=False; Encrypt=True; TrustServerCertificate=False; Connection Timeout=30;" 
         providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlyException" value="true" />
    <!-- Add your application settings here -->
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <httpModules />
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers />
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>
